---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Banner from '../components/banner.astro';
import Nav from '../components/nav.astro';



---
<Layout>
    <Header />
    <Nav />
    <Banner />
    <main>
        <h1>About</h1>
    </main>
    
    
    <Footer />