---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <h1>Contact</h1>

    <p>
        For enquiries about classes or trial sessions, please email:
    </p>
    <p>
        <a href="mailto:Johnnysticks73@gmail.com">Johnnysticks73@gmail.com</a>
    </p>
    <p>
        Or call: <a href="tel:+353851165081">085 116 5081</a>
    </p>


</Layout>