---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Banner from '../components/banner.astro';
import Nav from '../components/nav.astro';



---

<Layout>
    <Header />
    <Nav />
    <Banner />
    <main>
        <h1>Home</h1>

        <p> Exploring the world of Filipino martial arts.
            Saykan Combat—Escrima, also known as Arnis or kali, is primarily a self defence art.
            It is also recognised as the national sport of the Philippines.
            We train in single stick double stick knife and empty hand combat to name just a few.</p>


    </main>
    
	
    <Footer />
</Layout>



