*{
    box-sizing: border-box;
}
body, html{
    background-color: black;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: white;
}

header {
    background-color: yellow;
    padding: 20px;
    color: black;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
    position: relative; 
    
}

.logo{
    height: 50px;
    margin-right: 15px;
    position: absolute;
    left: 10px;
}

nav{
    margin-top: 20px;
    text-align: center;
    background-color: yellow;
    margin-bottom: 20px;
    width: 100%;
    position: sticky;
    top: 0;
    border: solid black 2px;
}

nav a{ 
    display: inline-block;
    text-decoration: none;
    font-style: italic;
    color: black;
    background-color: yellow;
    font-weight: bold;
    font-size: 1.5em;
    padding:  15px;
    border-radius: 5px;
    transition: background-color 0.5s, color 0.5s;
    
}

a:hover{
    background-color: black;
    color: yellow;
    text-decoration: underline;
}


main{
    flex: 1;
    padding: 2rem;
}

.img{
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 3em;
    margin: 0;
    padding: 0;
    background-color: yellow;
    color: black;
    font-style: italic;
    text-align: center;
}

p{
    font-size: 1.2em;
    line-height: 1.6;
    margin-top: 20px;
    text-align: center;
}



footer{
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: yellow;
    font-style: italic;
    text-align: center;
    color: black;
    
}